<div id="top-bar" class="container" >
    <h2>Modifica annuncio</h2>
    
    <section class="header_text">
		<%= render 'form' %>
		</section>
</section>

<%= link_to 'Mostra', @announcement %> |
<%= link_to 'Indietro', announcements_path %>
