<center>
    <h2>Banna utente</h2>
    <p>Stai per bannare l'utente <%= params[:id] %></p>
    <form method="post" action="/banna_action" id="ban">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="hidden" name="id_utente" value="<%= params[:id] %>" />
        <p>Motivo</p>
        <p><input type="text" name="motivo" /></p>
        <p><input type="submit" class="btn btn-inverse large" value="Banna" /></p>
    </form>
</center>