<p>
    
<p><h3>TERMINI DI SERVIZIO DEL SITO WEB</h3></p>

<p>Qualsiasi utilizzo delle pagine Web di Smartbucket e qualunque accesso a tali pagine sono soggetti ai termini seguenti.
</p>

<p><h5>LIMITAZIONE DI RESPONSABILITÀ</h5></p>

<p>Il contenuto delle pagine Web di Smartbucket sono fornite "così come sono" e "come sono disponibili". Non viene concessa alcuna garanzia di alcun tipo, espressa o implicita, in relazione alla disponibilità, all'accuratezza, all'affidabilità o ai contenuti di tali pagine. Nei limiti consentiti dalla legge in vigore, Smartbucket non deve essere ritenuta responsabile per alcun danno diretto, indiretto o consequenziale risultante dall'utilizzo o dall'incapacità di utilizzare tali pagine.


Le condizioni descritte riguardano solo le attività dei nostri server. Il nostro sito Web contiene link per siti Web che non sono sotto il nostro controllo. Non siamo responsabili dei contenuti, dei commenti o delle applicazioni presenti su tali siti Web. Mettiamo a disposizione tali link per comodità e la presenza di tali link sul sito Web non comportano la nostra approvazione.</p>
Le proprietà e

i contenuti delle pagine Web di Smartbucket sono protetti da leggi internazionali sul copyright. Tutti i diritti riservati. La riproduzione, il trasferimento, la distribuzione o la memorizzazione dei contenuti o di una parte di essi, inclusi, a titolo esemplificativo, immagini, formati di progetto, loghi, clip audio, clip video e codifiche HTML, in qualsiasi forma, come pure la riproduzione non autorizzata, totale o parziale, di testi, illustrazioni, formati di progetto o loghi con qualsiasi mezzo e senza previa autorizzazione scritta di Smartbucket sono proibite. Smartbucket protegge i propri diritti di proprietà intellettuale nel pieno ambito della legge. "Smartbucket" e il logo di Smartbucket sono marchi privati. 

Smartbucket si impegna a garantire la protezione delle informazioni degli utenti. Per prevenire l'accesso non autorizzato o la divulgazione dei dati, per mantenerne l'accuratezza e garantire l'utilizzo corretto delle informazioni, sono state disposte le procedure fisiche, elettroniche e di gestione appropriate per proteggere le informazioni raccolte online. 

Messaggi, suggerimenti, idee, post o concetti inviati a Smartbucket attraverso i relativi siti Web diventeranno proprietà non esclusiva diSmartbucket. Inoltre, Smartbucket non è da ritenersi responsabile per la riservatezza delle informazioni comunicate alle relative pagine Web. Mediante la comunicazione di materiale al sito Web di Smartbucket, l'utente accetta che Smartbucket ha il diritto di pubblicare tale materiale in prodotti o pubblicazioni per qualsiasi scopo, inclusi, a titolo esemplificativo, scopi di sviluppo di prodotti e/o servizi, scopi promozionali e di pubblicità. L'utente accetta di non prendere alcun tipo di provvedimento contro Smartbucket in relazione al materiale inviato dall'utente stesso. Messaggi, suggerimenti, idee, post o concetti ("materiale") inviati a Smartbucket attraverso il sito Web della Community diventeranno e rimarranno proprietà di Smartbucket.
Correzioni

Tali termini non sono esaustivi e potrebbero esistere altri termini relativi a contenuti, servizi o funzionalità specifici. Smartbucket si riserva il diritto di modificare le pagine o di bloccarne l'accesso in qualsiasi momento. Eventuali modifiche alle presenti condizioni saranno pubblicate nel presente URL e saranno effettive con decorrenza immediata. Si consiglia di visitare nuovamente queste pagine per leggere eventuali aggiornamenti.

</p>