<div id="top-bar" class="container" >
    <h2>Risultato Ricerca</h2>
    <center>
      <table width="50%" border="0">
          <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
          <% @announcements.each do |announcement| %>
            <tr>
              <td align="center" valign="tip">
                <% if (announcement.foto != "")  =%>
                  <%= image_tag("#{announcement.foto}", :border=>0, size: "100") %>
                <% else %>
                  <%= image_tag("Temporanei/avatar", :border=>0, size: "100") %>
                <% end %>
              </td>
              <td valign="top" align="center">
                </b>[<%= announcement.categoria %>]<br />
                <i><%= link_to announcement.titolo, announcement %></i>
                <br /><br />
              </td>
            </tr>
            <tr><td colspan="2"><hr></td></tr>
          <% end %>
      </table>
  </center>
<br>