<center>
	<div class="page-header">
		<h1>Lascia un feedback a <%= current_user.nome_del_destinatario(params[:utente]) %></h1>
  </div>
</center>	
<section class="main-content">				
  <div class="row">
    <div class="span5"></div>
    <div class="span2">
      <center><script type="text/javascript">star(3);</script></center>
    </div>
    <div class="span5"></div>
  </div>
</section>